<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex Domingues</title>
    <link rel="stylesheet" href="../static/style/portifolio.css">
</head>

<body>

    <header>
        <nav>
            <div>
                <h1>Alex Domingues da Silva</h1>
            </div>
            <div class="menu-options">
                <div>
                    <a href="/">HOME</a></div>
                <div><a href="/sobre.html">SOBRE</a></div>
            </div>
        </nav>
    </header>

    <div class="title ">
        <h1>Meus trabalhos</h1>
    </div>


    <section class="grid-container ">

        <!-- <p>&nbsp;</p> -->

        <div class="card-container ">
            <a href="/templates/guess_game.html ">
                <div class="card ">
                    <div class="card-image animated-bg ">
                        <img src=" " alt=" ">
                    </div>
                    <div class="card-image hidden content ">
                        <img src="/images/guess_game.png " alt=" ">
                    </div>

                    <div class="card-content ">

                        <div class="card-title hidden content ">
                            <h3>Guess game</h3>
                        </div>
                        <div class="card-text hidden content ">
                            <p>Game estilo retrô numa pegada meio Atari. Esse projeto foi o meu primeiro usando JavaScript. <br><br> <strong>HTML, CSS, JS</strong> </p>
                        </div>

                        <div class="card-title animated-bg ">
                            <h3>&nbsp;</h3>
                        </div>
                        <div class="card-text animated-bg ">
                            <p>&nbsp;</p>
                        </div>
                        <div class="card-text animated-bg ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="card-container ">
            <a href="/templates/git_info.html ">
                <div class="card ">
                    <div class="card-image animated-bg ">
                        <img src=" " alt=" ">
                    </div>
                    <div class="card-image hidden content ">
                        <img src="/images/github_profile.png " alt=" ">
                    </div>

                    <div class="card-content ">

                        <div class="card-title hidden content ">
                            <h3>GitHub Profile</h3>
                        </div>
                        <div class="card-text hidden content ">
                            <p>Projeto simples de que consome uma API do GitHub mostrando alguns detalhes do users usando JavaScript. <br><br> <strong>HTML, CSS, JS</strong> </p>
                        </div>

                        <div class="card-title animated-bg ">
                            <h3>&nbsp;</h3>
                        </div>
                        <div class="card-text animated-bg ">
                            <p>&nbsp;</p>
                        </div>
                        <div class="card-text animated-bg ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="card-container ">
            <a href="https://alex-todo-app.netlify.app/">
                <div class="card ">
                    <div class="card-image animated-bg ">
                        <img src=" " alt=" ">
                    </div>
                    <div class="card-image hidden content ">
                        <img src="/images/Tarefas.png " alt=" ">
                    </div>

                    <div class="card-content ">

                        <div class="card-title hidden content ">
                            <h3>Tarefas</h3>
                        </div>
                        <div class="card-text hidden content ">
                            <p>App com o básico necessário para gerênciamento de tarefas usando VUE.js<br><br> <strong>VUE, HTML, CSS, JS</strong> </p>
                        </div>

                        <div class="card-title animated-bg ">
                            <h3>&nbsp;</h3>
                        </div>
                        <div class="card-text animated-bg ">
                            <p>&nbsp;</p>
                        </div>
                        <div class="card-text animated-bg ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>



    </section>


    <footer>
        <p>© 2023 por Alex Domingues da Silva.</p>
    </footer>

</body>

<script src="/static/js/portifolio.js "></script>

</html>